body {
    /* The image used */
    background-image: url(image/pills-beside-clipboard.jpg);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    /* align-items: center; */
    min-height: 100vh;
    font-family: Arial, sans-serif;
  }

h1 {
    font-style: oblique;
    text-align: center;
    font-weight: 900;
    margin-bottom: 50px;
}
div{
    padding: 1%;
}
.container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: auto;
  }

.register-button,
.submit-button,
.prev-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-button:hover,
.submit-button:hover,
.prev-button:hover {
    background-color: #2980b9;
}
  
